header{
    margin-top: 40px;
}
#starsPng{
    position: absolute;
    z-index: -1000;
    margin-top: -20px;
}
#starsPng img{
    margin-top: -20px;
    margin-left: 25px;
    width: 95vw;
}
#Titel{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    left: 50%;
    color:#fdfaad;
    font-size: 50px;
    text-shadow:
    1px 0px 1px  #beb672,
    0px 1px 1px  #beb672,
    -1px 0px 1px  #beb672,
    0px -1px 1px  #beb672,
    1px 1px 0px  #beb672,
    -1px 2px 0px  #beb672,
    1px -1px 0px  #beb672,
    -1px -1px 0px #beb672; 
}
#text1{
    text-align: left;
    margin-top: 75px;
    margin-left: 60px;
    padding: 10px;
    border-radius: 25px;
    font-size: 23px;
    color:#fdfaad;
    display: inline-block;
    width: 400px;
    height: 280px;
    background-color: #253e3bcd;
    
    
}
#text2{
    text-align: left;
    margin-top: 75px;
    margin-left: -30px;
    padding: 10px;
    border-radius: 25px;
    font-size: 23px;
    color:#fdfaad;
    display: inline-block;
    width: 400px;
    height: 280px;
    background-color: #253e3bcd;
}
#subTitle{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}

#logoPng img{
    width: 340px;
    margin-left: 70px;
}
#continue{
    text-align: center;
    margin-left: 1125px;
    padding-top: 5px;
    border-radius: 15px;
    font-size: 20px;
    color: #fdfaad;
    display:inline-block;
    width: 90px;
    height: 35px;
    background-color: #253e3b;
}
#bottomBackground{
    background-color: #182d2a;
    height: 230px;
}
body{
    background-image: linear-gradient(#0e316b, #29504b);
    margin:0px;
    height: 100vh;
}
.content-grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content-grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #fdfaad;
}
#lore-Channels{ 
    margin-left: 150px;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #fdfaad;
}
#lore-Channels a{
    color: #fdfaad;
    text-decoration: none;
}
#guides{
    margin: 200px;
    margin-top: 30px;
}
#guides a{
    color: #fdfaad;
    text-decoration: none;
}
#creators{
    margin-top: 30px;
    margin-left: 125px;
}
#creators a{
    color: #fdfaad;
    text-decoration: none;
}
